* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(13, 13, 43);
}

.App {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.hint {
  color: white;
  font-size: 10px;
  letter-spacing: 1px;
  margin-top: 50px;
  opacity: 0.5;
  font-style: italic;
  text-transform: uppercase;
}

.btn {
  background: #0f2879;
  color: white;
  border: none;
  outline: none;
  padding: 1em 2em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 1px;
  margin-top: 50px;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 10px 0;
  transition: all 0.3s;
}

.btn:hover {
  background: #091744;
}

/* .rules_btn {
  position: absolute;
  margin-top: 0;
  top: 30px;
  right: 30px;
} */
